@using SignalRWebUI.Dtos.CategoryDtos
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model UpdateCategoryDto
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Forms</h4>
        <div class="row">
            <div class="col-md-6">
                <form method="post" asp-controller="Category" asp-action="UpdateCategory">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kategori Güncelleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="CategoryID" />
                            <div class="form-group">
                                <label for="categoryname">Yeni Kategori Adı:</label>
                                <input type="text" class="form-control" id="categoryname" asp-for="CategoryName" placeholder="@Model.CategoryName">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-warning">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

